#zoning4 {
    width: 1200px;
    background-color: blue;
    margin: auto;
    text-align: center;
    color: white;
}

#zoning4 header {
    /* width: 1200px; */
    min-height: 100px;
    background-color: greenyellow;
} 

#zoning4 nav {
    background-color: crimson;
    min-height: 50px;
}

#zoning4 nav p {
    margin: auto;
}

#zoning4 section {
    
    background-color: purple;
    height: 500px;
    margin: 20px;
}

#zoning4 footer {
    background-color: pink;
    height: 50px;
}