#zoning6 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    
}

#zoning6 header .haut_1 {
    background-color: tomato;
    float: left;
    width: 25%;
    height: 100px;
}

#zoning6 header .haut_2 {
    background-color: teal;
    float: left;
    width: 50%;
    height: 100px;
}

#zoning6 header .haut_3 {
    background-color: turquoise;
    float: left;
    width: 25%;
    height: 100px;
}

#zoning6 .clear {
    clear: both;
}

#zoning6 nav {
    background: cornflowerblue;
    height: 70px;
    /* border: none; */
    width: 1000px;
}

#zoning6 nav p {
    margin: 0;
}

#zoning6 aside {
    background: pink;
    float: left;
    width: 25%;
    height: 300px;
}

#zoning6 section .zone_a {
    float: left;
}

#zoning6 section .zone_b {
    float: left;
}