body {
    background: url(../img/img/img/concrete-texture.png)
}

#siamois {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: pink;
}

#siamois .boite {
    float: left;
    width: 500px;
    
    
}

.c1, .boite{
    height: 220px;
	width: 220px;
	background-color: yellow;
	border: 2px solid darkred;
	margin: 20px;
	float: left;
}