body {
    background: pink;
}

main{
    width: 1200px;
    margin: 0 auto;
    background-color: plum;
}

header {
    background-color: salmon;
    float: left;
    width: 1200px;
    text-align: center;
    height: 150px;
}

aside {
    background-color: skyblue;
    width: 200px;
    float: left;
    text-align: center;
    /* hauteur minimal  */
    min-height: 500px;
}

section {
    background-color: tan;
    width: 1000px;
    float: left;
    text-align: center;
    min-height: 500px;
}